<div class="row" style="position: relative;">
    <img src="assets/background.png" style="position: absolute; z-index: -1">
    <img src="assets/drawings/andromeia.png" style="position: absolute; z-index: 0">
    <img src="assets/divider.png" style="position: absolute; z-index: 1">
    <div style="position:absolute; left: 840px; top: 90px; z-index:2" class="">
        <img src="assets/thumbnails/andromeia_Thumbnail.png" class="hoverBorder">
        <img src="assets/thumbnails/antisora99_Thumbnail.png" class="hoverBorder">
        <img src="assets/thumbnails/aswraith_Thumbnail.png" class="hoverBorder">
        <img src="assets/thumbnails/drewzerr_Thumbnail.png" class="hoverBorder">
        <img src="assets/thumbnails/dumberto_Thumbnail.png" class="hoverBorder">
    </div>
    <div style="position:absolute; left: 924px; top: 254px; z-index:2" class="">
        <img src="assets/thumbnails/eskimo_Thumbnail.png" class="hoverBorder">
        <img src="assets/thumbnails/giucci_Thumbnail.png" class="hoverBorder">
        <img src="assets/thumbnails/godspath_Thumbnail.png" class="hoverBorder">
        <img src="assets/thumbnails/hermitnobb_Thumbnail.png" class="hoverBorder">
    </div>
    <div style="position:absolute; left: 840px; top: 418px;  z-index:2" class="">
        <img src="assets/thumbnails/heyitssunny_Thumbnail.png" class="hoverBorder">
        <img src="assets/thumbnails/imsteven_Thumbnail.png" class="hoverBorder">
        <img src="assets/thumbnails/instablade_Thumbnail.png" class="hoverBorder">
        <img src="assets/thumbnails/jenntart_Thumbnail.png" class="hoverBorder">
        <img src="assets/thumbnails/jesses_Thumbnail.png" class="hoverBorder">
    </div>
    <div style="position:absolute; left: 924px; top: 582px;  z-index:2" class="">
        <img src="assets/thumbnails/julian_Thumbnail.png" class="hoverBorder">
        <img src="assets/thumbnails/muito_Thumbnail.png" class="hoverBorder">
        <img src="assets/thumbnails/ogjoseph_Thumbnail.png" class="hoverBorder">
        <img src="assets/thumbnails/ovanilla_Thumbnail.png" class="hoverBorder">
    </div>
    <div style="position:absolute; left: 840px; top: 746px;  z-index:2" class="">
        <img src="assets/thumbnails/popyzera_Thumbnail.png" class="hoverBorder">
        <img src="assets/thumbnails/questi_Thumbnail.png" class="hoverBorder">
        <img src="assets/thumbnails/slain_Thumbnail.png" class="hoverBorder">
        <img src="assets/thumbnails/smoovesaiyan_Thumbnail.png" class="hoverBorder">
        <img src="assets/thumbnails/spiritmoon_Thumbnail.png" class="hoverBorder">
    </div>
    <div style="position:absolute; left: 924px; top: 910px; z-index:2" class="">
        <img src="assets/thumbnails/summerskin_Thumbnail.png" class="hoverBorder">
        <img src="assets/thumbnails/tiffie44_Thumbnail.png" class="hoverBorder">
        <img src="assets/thumbnails/titanium_Thumbnail.png" class="hoverBorder">
        <img src="assets/thumbnails/zull_Thumbnail.png" class="hoverBorder">
    </div>
</div>