<!--  <div class="row">-->
<!--    <div class="col-5 p-0" style="position: relative">-->
<!--&lt;!&ndash;      <img src="https://cdn.discordapp.com/attachments/372203889073586179/801548132550836294/20210120_122431.jpg" style="width: 100%; position: absolute; z-index:0">&ndash;&gt;-->
<!--      <img src="https://i.imgur.com/Sk42J0d.png" style="width: 100%; position: absolute; z-index:1">-->
<!--    </div>-->
<!--    <div class="col-7 p-0" style="background-color: blue">-->
<!--      seven-->
<!--    </div>-->
<!--  </div>-->
<!--  -->
<!--  -->
<!-- -->


<div class="row" style="position: relative">
    <img src="assets/divider.png" style="position: absolute; z-index: 0">
    <img src="assets/drawings/andromeia.png" style="position: absolute; z-index: -1">
    <div style="position:absolute; top: 8px; right: 16px;">
        <img src="assets/thumbnails/andromeia_Thumbnail.png">
        <img src="assets/thumbnails/andromeia_Thumbnail.png">
        <img src="assets/thumbnails/andromeia_Thumbnail.png">
        <img src="assets/thumbnails/andromeia_Thumbnail.png">
    </div>
</div>